{{- $desc := site.Params.description -}}
{{- $name := site.Params.name | default "gitjoin" -}}
{{- $authorURL := site.Params.authorURL | default "https://github.com/bep" -}}
{{- $licenseURL := site.Params.licenseURL | default "https://opensource.org/licenses/MIT" -}}
{{- $lang := site.Params.programmingLanguage | default "Go" -}}
{{- $ld := dict
	"@context" "https://schema.org"
	"@graph" (slice
	(dict
	"@type" "WebSite"
	"@id" (printf "%s#website" .Permalink)
	"url" .Permalink
	"name" $name
	"description" $desc
	"inLanguage" (site.Language.Locale)
	)
	(dict
	"@type" "SoftwareApplication"
	"name" $name
	"applicationCategory" "DeveloperApplication"
	"operatingSystem" "Linux, macOS, Windows"
	"description" $desc
	"url" .Permalink
	"downloadUrl" site.Params.repoURL
	"codeRepository" site.Params.repoURL
	"programmingLanguage" $lang
	"license" $licenseURL
	"author" (dict
	"@type" "Person"
	"name" site.Params.author
	"url" $authorURL
	)
	"offers" (dict
	"@type" "Offer"
	"price" "0"
	"priceCurrency" "USD"
	)
	)
	)
-}}
<script type="application/ld+json">{{ $ld | jsonify (dict "indent" "  ") | safeJS }}</script>